@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{

 <section class="features-area">
    <div class="container">
        <div class="area-border">
            <div class="red-title">@Model.Value("featuresTitle")</div>
            <div class="content-holder">
                <div class="feature-content-left">
                    <h2>@Model.Value("featuresHeading")</h2>
                    <a class="yellow-btn" href="@Model.Value("featuresButtonUrl")">
                       @Model.Value("featuresButton") <i class="fa fa-arrow-circle-right"></i
                    ></a>
                </div>
                <div class="feature-content-right">
                 @Html.GetBlockListHtml(Model.FeaturesService)
                </div>
            </div>
        </div>
    </div>
</section>
}